@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root {
    --bg-body: rgb(255, 255, 255);
    --color-txt: rgb(0, 0, 0);
    --filled-color: rgb(0, 0, 0);
    --filled-bg: rgb(202, 240, 248);

    --black: rgb(0, 0, 0);
    --blue: rgb(0, 174, 239);
    --red: rgb(233, 30, 99);
    --white: rgb(255, 255, 255);
    --light-bg: rgb(152, 152, 152);

    --nav-size: 70px;
    --sudoku-cell-size: 50px;

    --border: 1px solid rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    --space-y: 20px;
    --gap: 5px;
    --font-size: 25px;
    --font-size-lg: 32px;
    --font-size-xl: 48px;
}

.dark {
    --bg-main: rgb(42, 42, 56);
    --bg-body: rgb(26, 26, 46);
    --color-txt: rgb(106, 106, 106);
    --filled-color: rgb(79, 79, 99);
    --filled-bg: rgb(0, 0, 0);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro',
        sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    background-color: var(--bg-body);
    user-select: none;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style-type: none;
}

table {
    /* border: 2px solid black; */
    border: 2px solid var(--bg-main);
}

nav {
    text-transform: capitalize;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    top: 0;
    background: var(--bg-body);
    color: var(--color-txt);
    box-shadow: 5px 2px var(--bg-main);
    z-index: 99;
    /* position: fixed; */
}

.nav-container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: var(--nav-size);
}

.title {
    font-size: var(--font-size-lg);
    color: var(--blue);
}

#open-theme {
    font-size: var(--font-size);
    cursor: pointer;
    color: var(--black);
    z-index: 10;
}

.theme-container {
    position: fixed;
    top: 0;
    right: -100%;
    padding: 5px 20px;
    background: var(--bg-body);
    border-left: var(--border);
    height: 100vh;
    width: 300px;
    z-index: 99;
    text-align: left;
    transition: all 0.3s ease;
}

.theme-container.active {
    right: 0;
}

.theme-container #close-theme {
    font-size: var(--font-size-lg);
    color: var(--black);
    cursor: pointer;
}

.theme-container h4 {
    text-align: center;
    color: var(--black);
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 15px 0;
    margin: 20px 0;
}

.theme-container .theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-container .theme-toggle span {
    color: var(--color-txt);
    font-size: var(--font-size);
}

.theme-container .theme-toggle .toggle {
    height: 32px;
    width: 75px;
    background: var(--light-bg);
    position: relative;
    cursor: pointer;
    border-radius: 50px;
    border: var(--border);
    margin: 0 10px;
}

.theme-container .theme-toggle .toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--white);
    transition: 0.2s linear;
}

.theme-container .theme-toggle.active .toggle::before {
    left: 50px;
}

.theme-container .board-colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.theme-container .board-colors .colors {
    border-radius: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.theme-container .board-colors .colors:hover {
    opacity: 0.5;
}

.puzzle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.puzzle input {
    width: 50px;
    height: 50px;
    font-size: 45px;
    font-family: inherit;
    text-align: center;
    border: 2px solid var(--bg-main);
}

.puzzle input:hover,
.puzzle input:focus {
    border-color: var(--blue);
}