@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root {
    --bg-body: rgb(190, 190, 190);
    --color-txt: rgb(0, 0, 0);
    --filled-color: rgb(0, 0, 0);
    --filled-bg: rgb(202, 240, 248);

    --black: rgb(0, 0, 0);
    --blue: rgb(0, 191, 255);
    --red: rgb(233, 30, 99);
    --white: rgb(255, 255, 255);
    --light-bg: rgb(152, 152, 152);
    --board: rgba(0, 191, 255, 0.3);

    --nav-size: 60px;
    --sudoku-cell-size: 40px;

    --border: rgb(250, 235, 215);
    --border-radius: 10px;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    --space-y: 10px;
    --gap: 5px;
    --font-size: 20px;
    --font-size-lg: 32px;
    --font-size-xl: 48px;
}

.dark {
    --bg-main: rgb(42, 42, 56);
    --bg-body: rgb(25, 31, 36);
    --color-txt: rgb(106, 106, 106);
    --filled-color: rgb(79, 79, 99);
    --filled-bg: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro',
        sans-serif;
    text-transform: capitalize;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    background-color: var(--bg-body);
    user-select: none;
    transition: 0.1s all ease;
}

body.dark {
    --bg-main: rgb(42, 43, 49);
    --bg-body: rgb(25, 31, 36);
    --color-txt: rgb(106, 106, 106);
    --filled-color: rgb(79, 79, 99);
    --filled-bg: rgb(0, 0, 0);
    --border: rgba(250, 235, 215, 0.3);
}

body.active {
    padding-right: 300px;
}

nav {
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    top: 0;
    background: var(--bg-body);
    color: var(--color-txt);
    box-shadow: 5px 2px var(--bg-main);
    z-index: 99;
    position: fixed;
}

.nav-container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: var(--nav-size);
}

.title {
    font-size: var(--font-size-lg);
    color: var(--blue);
}

#open-theme {
    font-size: var(--font-size-lg);
    cursor: pointer;
    color: var(--color-txt);
    z-index: 10;
}

.theme-container {
    position: fixed;
    top: 0;
    right: -100%;
    padding: 5px 10px;
    background: var(--bg-body);
    border-left: 1px solid var(--border);
    height: 100vh;
    width: 300px;
    z-index: 99;
    text-align: left;
    transition: all 0.2s ease;
}

.theme-container.active {
    right: 0;
}

.theme-container #close-theme {
    font-size: var(--font-size-lg);
    color: var(--color-txt);
    cursor: pointer;
}

.theme-container h4 {
    text-align: center;
    color: var(--color-txt);
    border-top: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
    padding: 15px 0;
    margin: 20px 0;
}

.theme-container .theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-container .theme-toggle span {
    color: var(--color-txt);
    font-size: var(--font-size);
}

.theme-container .theme-toggle .toggle {
    height: 30px;
    width: 75px;
    background: var(--light-bg);
    position: relative;
    cursor: pointer;
    border-radius: 50px;
    border: var(--border);
    margin: 0 10px;
}

.theme-container .theme-toggle .toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--white);
    transition: 0.2s linear;
}

.theme-container .theme-toggle.active .toggle::before {
    left: 50px;
}

.theme-container .board-colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.theme-container .board-colors .colors {
    border-radius: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.theme-container .board-colors .colors:hover {
    opacity: 0.5;
}

.theme-container .game-mode {
    border-top: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
    padding: 15px 20px;
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease;
    color: var(--color-txt);
}

.game-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#level {
    width: 70px;
    color: var(--black);
}

.button {
    padding: 5px;
    background: var(--board);
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.puzzle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: var(--nav-size);
    transition: all 0.2s ease-in-out;
}

.puzzle {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-gap: var(--gap);
}

.box {
    background: var(--board);
    color: var(--black);
    display: grid;
    place-items: center;
    transition: all 0.1s ease-in-out;
}

.puzzle div {
    width: var(--sudoku-cell-size);
    height: var(--sudoku-cell-size);
    font-size: 20px;
    font-family: inherit;
    text-align: center;
    border: 2px solid var(--bg-main);
    border-radius: var(--border-radius);
}

.puzzle div:hover {
    border: 2px solid var(--blue);
}

.puzzle .filled {
    background: var(--filled-bg);
    color: var(--filled-color);
}

.puzzle .selected {
    background: var(--board);
    color: var(--white);
}

.puzzle .hover {
    border: 3px solid var(--blue);
}

.puzzle .hover .dark {
    border: 1px solid var(--blue);
}

.puzzle .error {
    color: var(--white);
    background: var(--red);
}

.game-info-container {
    margin-top: var(--space-y);
    margin-bottom: 10px;
    display: inline-flex;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.game-info-container button {
    height: 45px;
    width: 120px;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    display: block;
}

.game-info {
    height: 45px;
    background: var(--bg-main);
    color: var(--color-txt);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    padding: 0 15px;
    font-size: var(--font-size);
    width: 120px;
}

.numbers {
    display: grid;
    margin-top: var(--space-y);
    padding-bottom: 15px;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.number {
    height: var(--sudoku-cell-size);
    width: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    background: var(--bg-main);
    color: var(--color-txt);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
}

.delete {
    background: var(--red);
    color: var(--white);
}